.full{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App{
    background-color: gray;
    height: 200px;
    width: 60%;
    border-radius: 20px;
    
}